<html lang="pt-br">
<head>

<bory>
       <center>
    
     <p>INFORMAÇÕES DO CLIENTE</p>
     <br>
</center>
<br>
     <label>Código:</label>
     <input type="text"/>
     
     <label>Nome:</label>
     <input type="text"/>
    <br>
   
   <p>Enderenço</p> 


    <label>Rua:</label>
    <input type="text"/>

    <label>N°</label>
     <input type="text"/>
<br>

     <br> 
     <label>Cidade:</label>
     <input type="text"/>
     
     <label>CEP:</label>
     <input type="text"/>

     <label>UF:</label>
     <input type="text"/>

     <label>E-mail:</label>
     <input type="text"/>

     <br>
     <p >INFORMAÇÕES ADICIONAIS</p>
     <br>
     
       <label>Telefone</label>
       <input type="text"/>

       <label>Status</label>
       <input type="text"/>
<br>
<center>

       <p> <a href="listagem_de_clientes.html">SALVAR</a>
       </p>
       
      
       <br>


<p> <a href="listagem_de_clientes.html">LISTAGEM DE CLIENTES</a>
       </p>
</center>

<br>

<a href="tela_principal.html">VOLTAR</a>

    

</bory>


</head>

</html>