<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<br>
<br>
<center>
    <p>LISTAGEM DE CLIENTES</p>
    <table border="2">

        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>001</td>
            <td>João da Silva</td>
            <td>joao.silva@email.com</td>
            <td>(11) 99999-9999</td>
            <td>Ativo</td>

        </tr>
        <tr>
            <td>002</td>
            <td>Maria Oliveira</td>
            <td>maria.oliveira@email.com</td>
            <td>(11) 88888-8888</td>
            <td>Inativo</td>
        </tr>
        <tr>
           <td>003</td> 
           <td>Carlos Santos</td>    
           <td>carlos.santos@email.com</td>
           <td>(11) 77777-7777</td>
           <td>Ativo</td>
        </tr>

    </table>

</center>
<br> 
<br>

<center>
<a href="cadastro_cliente.html">VOLTAR</a>

</center>




</body>
</html>
