<html lang="pt-br">
<head>
 
 <style>
      body {background-color: rgb(234, 243, 243);
      font-family: Arial, Helvetica, sans-serif;}

       p {
        font-size: 24px;
        font-weight: 'Georgia', 'Times New Roman', Times, serif;
        color:#007BFF;}

        a {display: inline-block; font-family: 'Georgia', 'Times New Roman', Times, serif;
        color:#007BFF; }
</style>
<body>
      <br>
      <br>
      <br>

      <center>

      <p>CADASTRO DE PRODUTO</p> 

      <p> <a href="cadastro_cliente.html">CADASTRO DE CLIENTE</a>
      <br>



      <p>CADASTRO DE PEDIDO</p>
<br>

<a href="login.html">SAIR</a>

<br>
<br>
<br>

<img src="images.jpg">

      </center>

</body>


</head>

</html>