<html lang="pt-br">
<head>
 
 <style>
      body {background-color: aquamarine;
      font-family: Arial, Helvetica, sans-serif;}

       p {
        font-size: 24px;
        font-weight: bold;
        color: #333; background-color: thistle;}

        a {display: inline-block;}
</style>
<body>
      <br>
      <br>
      <br>

      <center>

      <p>CADASTRO DE PRODUTO</p> 

      <p> <a href="cadastro_cliente.html">CADASTRO DE CLIENTE</a>
      <br>



      <p>CADASTRO DE PEDIDO</p>
<br>

<a href="login.html">SAIR</a>

<br>
<br>
<br>

<img src="images.jpg">

      </center>

</body>


</head>

</html>